@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
body {
  background: #eee !important;
  font-family: "Roboto";
}
#root {
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  padding: 140px;
}

.card {
  max-width: 500px;
  padding: 35px;
}
